/* 音频控制面板 */
.AudioPanel {
    display: grid;
    grid-template-columns: 80px repeat(5, 24px);
    grid-template-rows: repeat(3, 24px);
    justify-items: center;
    /* justify 还有个意思叫“使齐行；调整使全行排满；使每行排齐” */
    align-items: center;
    /* align 意思为对齐 */
    place-content: center;
    /* 整个 gird 表格水平、垂直居中 */
    /* place-items 设置的是表格内的元素，而非表格本身！ */
    gap: 0;
    height: 96%;
    width: min-content;
    padding: 5px;
    margin: 0;
    background-color: var(--bg-gradient-color-2);
    border: var(--border-color) solid 3px;
    border-radius: 20px;
    filter: drop-shadow(0 0 3px var(--shadow-color));
}

/* 音频信息显示 */
.AudioName {
    display: inline-block;
    animation: TextScroll linear infinite;
    /* 歌曲名横向滚动 */
    white-space: nowrap;
    /* 强制禁止换行 */
    font-family: 'Segoe UI', '微软雅黑', serif;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    z-index: 20;
}

.AudioName:hover {
    cursor: pointer;
    background-color: var(--link-text-hover-bg-color);
    animation-play-state: paused;
}

.AudioNameScrollBox {
    grid-column: 2/span 5;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    /* 让蒙版相对于 Box 定位 */
    width: 100%;
    /* 因为是 span 5，所以可以使用 100% */
    height: 100%;
    overflow: hidden;
    /* 超出的部分隐藏 */
    white-space: nowrap;
    /* 不换行 */
    background-color: transparent;
}

.AudioNameScrollBoxCoverLeft {
    /* 左蒙版 */
    grid-column: 2;
    grid-row: 1;
    height: 24px;
    width: 24px;
    background: linear-gradient(to right, var(--background-color), transparent);
    z-index: 21;
}

.AudioNameScrollBoxCoverRight {
    /* 右蒙版 */
    grid-column: 6;
    grid-row: 1;
    height: 24px;
    width: 24px;
    background: linear-gradient(to left, var(--background-color), transparent);
    z-index: 21;
}

@keyframes TextScroll {

    /* 这种格式可以设置动画 */
    0% {
        transform: translateX(100%);
        /* 从右侧进入 */
    }

    100% {
        transform: translateX(-100%);
        /* 从左侧离开 */
    }
}

.AudioCover {
    /* 音频封面 */
    height: 72px;
    grid-column: 1;
    grid-row: span 3;
    border: #ffbb44 solid 2px;
    border-radius: 15px;
}

.AudioCover:hover {
    scale: 105%;
    cursor: pointer;
    filter: drop-shadow(0 0 1.5px var(--shadow-color));
}

.AudioCover:active {
    scale: 100%;
    filter: blur(1px);
    /* 模糊 */
}

/* 音频控制图标 */
.ControlIcon {
    grid-column: span 1;
    grid-row: span 1;
    height: 20px;
}

.ControlIcon:hover {
    scale: 115%;
}

.ControlIcon:active {
    scale: 100%;
}