:root {
    /*.light-theme*/
    /* 标题 */
    --title-shadow-color: #40b0ffaa;
    --title-box-color: #aaddff33;
    --title-box-border-color: #44bbffaa;
    /* 导航栏 */
    --nav-bar-box-color: #ffffffaa;
    --nav-bar-option-hover-color: #aaddff88;
    --split-line-color: #dddddd;
    /* 背景 */
    --background-color: #fafafa;
    --bg-gradient-color-1: #ffffff44;
    --bg-gradient-color-2: #ffffffff;
    /* 主体框 */
    --content-box-bg-color: transparent;
    --content-box-hover-bg-color: #33cc0022;
    --content-box-border-color: #33cc00;
    /* 通用 */
    --text-color: #4e4e4e;
    --border-color: #cccccccc;
    --shadow-color: #00000077;
    /* 链接 */
    --link-text-hover-bg-color: #bdbdbdbb;
    --link-text-active-bg-color: #4f4f4fbb;
    /* 页脚 */
    --contact-box-bg-color: #dddddd77;
}

.dark-theme {}