body {
	/*这个是 body 的自定义格式*/
	height: 100vh;
	width: 100vw;
	font-family: 'Segoe UI','微软雅黑', serif;
	/* background-image: url('resource/image/background/background.svg'); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #40b0ff;
	background-attachment: fixed;
}