* {
    box-sizing: border-box !important;
    /* 使所有元素的宽度和高度包含内边距和边框 */
    transition: all 0.1s;
    /* transition 可以设置需要过渡的内容，all 代表全部过渡 */
    /* 所有动画时长 100ms */
}

body {
    /*这个是 body 的自定义格式*/
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    /* 加入 margin 和 padding 为 0 可保证左右两侧无多于空隙 */
    font-family: 'Segoe UI', '微软雅黑', serif;
    /* background-image: url('resource/image/background/background.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #40b0ff;
    background-attachment: fixed;
    transition: none;
    /* 你去掉这行看看壁纸会怎么样…… */
}

.bg-overlay {
    position: fixed;
    top: 0.5%;
    left: 0.5%;
    z-index: -1;
    height: 99%;
    width: 99%;
    padding: 1%;
    margin: 0;
    border-radius: 20px;
    background-image: linear-gradient(var(--bg-gradient-color-1), var(--bg-gradient-color-2));
    pointer-events: none;
}