.AudioName {
    font-family: 'Segoe UI', '微软雅黑', serif;
}

.AudioName:hover {
    text-decoration: underline;
}

.LinkText {
    font-family: 'Segoe UI', '微软雅黑', serif;
}

.LinkText:hover {
    text-decoration: underline;
}

LinkText[class*="QQ" i] {
    QQ: 1243685450
}

.LinkIcon {
    width: 30px;
    height: 30px;
}
.LinkIcon:hover {
    animation: LinkIconEnlarge 0.2s linear;
}

@keyframes LinkIconEnlarge {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}