/* 提示栏 */
.tip-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: auto;
	width: 100%;
	padding: 5px;
	margin: 0;
	background-color: var(--bg-gradient-color-1);
	color: var(--text-color);
	line-height: 0px;
}

.tip-control{
	
}