/* 导航栏 */
nav {
	display: flex;
	justify-content: center;
	/* 使标题栏水平居中，通常情况可以使用这种方法使子元素居中 */
	position: sticky;
	top: 0;
	margin: 0;
	padding: 0;
}

nav>ul {
	display: grid;
	/* 使用 grid 进行高级布局 */
	grid-template-columns: auto repeat(4, 1fr) auto;
	/* 定义 grid 列轨道，此处最左侧列自动调整，紧接4个列，然后最右侧列自动调整 */
	/* fr 代表一个列宽 */
	align-items: center;
	justify-content: center;
	height: auto;
	width: 98%;
	padding: 0;
	margin: 0;
	background-color: var(--title-color);
	border: var(--border-color) double 6px;
	border-radius: 50px;
	list-style-type: none;
	/* 删除前缀 */
	color: var(--text-color);
	overflow-x: auto;
	overflow-y: hidden;
	/* 选项过多，予以滚动 */
}

nav>ul>li {
	grid-column: span 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* 使用 align 和 justify 对齐时 display 必须为 flex */
	margin: 0;
	width: auto;
	height: 100%;
	/* 保持与父容器一致 */
	border-right: var(--split-line-color) solid 1px;
}

nav>ul>li:hover {
	background-color: var(--title-bar-option-hover-color);
}

nav>ul>li>a {
	text-decoration: none;
	/*设置不加下划线*/
}

nav>ul>li:first-child {
	padding-left: 20px;
	padding-right: 20px;
	/* 左右两侧给予宽度 */
	background-color: transparent;
}

/* 大标题 */
.Title {
	font-family: 'Segoe UI', '微软雅黑', serif;
	/*	先写 Segoe UI，它不识别中文；再写微软雅黑，它可以识别中文。
    	当遇到英文时，会显示为 Segoe UI；当遇到中文时，Segoe UI 无法为中文提供字体，则显示为的微软雅黑
        serif/sans-serif 兼顾旧操作系统
        英文>MAC中文&Linux中文>Windows中文
    */
	color: #44bbff;
	font-size: 48px;
	font-weight: 540;
	/*设置加粗*/
	font-style: italic;
	text-align: center;
	/*设置居中*/
}

.Title:first-child:hover {
	transform: scale(110%);
}

.Title:first-child:active {
	transform: scale(100%);
}

nav>ul>li:last-child {
	border-right: none;
	background-color: transparent;
}

/* 音频控制面板 */
.AudioPanel {
	display: grid;
	grid-template-columns: auto repeat(5, 24px);
	grid-template-rows: repeat(3, 24px);
	justify-content: center;
	/* justify 还有个意思叫“使齐行；调整使全行排满；使每行排齐” */
	align-items: center;
	/* align 意思为对齐 */
	gap:0;
	/* 设置了 40px 而非 fr，此处的 gap 设为 0 即可 */
	height: auto;
	width: auto;
	padding: 10px 10px;
	margin: 0;
	background-color: var(--bg-gradient-color-2);
	border: var(--border-color) solid 3px;
	border-radius: 15px;
}

/* 音频信息显示 */
.AudioName {
	display: inline-block;
	animation: AudioNameScroll 8s linear infinite;
	/* 歌曲名横向滚动 */
	white-space: nowrap;
	/* 强制禁止换行 */
	font-family: 'Segoe UI', '微软雅黑', serif;
	text-decoration: none;
}

.AudioName:hover {
	cursor: pointer;
	background-color: var(--link-text-hover-bg-color);
}

.AudioNameScrollBox {
	justify-self: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* 超出的部分隐藏 */
	white-space: nowrap;
	/* 不换行 */
}

.AudioNameScrollBoxCover {
	/* 蒙版 */
	grid-column: span 5;
	grid-row: span 1;
	width: 120px;
	height: auto;
	background-color: transparent;
}

@keyframes AudioNameScroll {
	/* 这种格式可以设置动画 */
	0% {
		transform: translateX(100%);
		/* 从右侧进入 */
	}

	100% {
		transform: translateX(-100%);
		/* 从左侧离开 */
	}
}

.AudioCover {
	/* 音频封面 */
	height: 72px;
	margin: 10px;
	grid-column: 1;
	grid-row: span 3;
}

.AudioCover:hover {
	transform: scale(105%);
}

/* 音频控制图标 */
.ControlIcon {
	grid-column: span 1;
	grid-row: span 1;
	height: 20px;
}

.ControlIcon:hover {
	transform: scale(110%);
}

.ControlIcon:active {
	transform: scale(100%);
}